.green {
    background-color: #6ed663;
    color: #ffffff;
}

.green:hover {
    background-color: #031732;
    color: #ffffff;
}

.blue {
    background-color: #031732;
    color: #ffffff;
}

.blue:hover {
    background-color: #6ed663;
    color: #ffffff;
}

.green-2 {
    color: #6ed663;
}

.grey {
    background-color: #d3d3d3;
}

.bg-blu {
    color: #031732;
}