.green{
    background-color: rgb(110 214 99);
    color: white;
}
.green:hover{
    background-color: #031732;
    color: white;
}
.blue{
    background-color:#031732 ;
    color: white;
}
.blue:hover{
    background-color:rgb(110 214 99) ;
    color: white;
}
.green-2{
    color:rgb(110 214 99);
}
